.cabecalho{
    background-color:#7b19cb ;
color: white;
display: flex;
justify-content: space-around;
padding: 25px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 40px;
padding: 10px 0;
font-size: 36px;
}

* {
margin: 0;
padding: 0;
}

.ANIMECON{
    background-image:linear-gradient(#7b19cb, #e94ea8) ;
    color: black;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px 0;
}

.recompensa-imagem{
    width: 10%;
    padding: 0 20px;
}

.ANIMECON-title{
    padding: 0 20px ;
}

.ANIMECON-title-um{
    padding:0 20px;
}

.assinantes-imagem{
    width: 200px;
}

.crunchy-imagem{
    width: 50px;
}

.animetv-imagem{
    width: 50px;
}

.funimation-imagem{
    width: 50px;
}
